main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .image_header {
    display: flex;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    img {
      width: 100vw;
    }
  }
  .presentation {
    display: flex;
    flex-direction: column;
    row-gap: 20px;}
}
.formulaire{
  display: flex;
    flex-direction: column;
    row-gap: 20px;

}
