.display_salle {
    display: flex;
    flex-direction: column;
    gap: 20px;
  .bloc_salle {
    height: 80px;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    p {
        color: white;
        text-shadow: 1px 1px 1px black;
        font-size: 3rem;
        font-weight: 600;
      }
  }
  .Openspace {
    background-image: url("/images/Salle/imgopenspacer.jpg");


  }
  .Detente {
    background-image: url("/images/Salle/imgdetenter.jpg");

  }
  .Barista {
    background-image: url("/images/Salle/imgbaristar.jpg");

  }
  .Restauration {
    background-image: url("/images/Salle/imgrestor.jpg");

  }
}
